{% extends "base.html" %}

{% block title %} Forgot Password - DJ Auth {% endblock title %}

{% block content %}

{% comment %} <form method='POST'>
    {% csrf_token %}
    <h3><strong>Forgot Password</strong></h3>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" name="email" placeholder="Enter Your Email" required>
      </div>

      <button class="btn btn-primary" style="width:100%">Send Reset Link</button>

</form> {% endcomment %}

<div class="login-container">
  <div class="login-card">
    <form class="login-form" method="POST">
      {% csrf_token %}
      <h3><strong>Forgot Password</strong></h3>
      <input class="form-control mt-3" type="email" name="email" placeholder="Enter your email" required>
      <div class="login-buttons">
        <button  class="login-button" type="submit">Send Reset Link</button>
        <a class="register-button" href="{% url 'signin' %}">Back</a>
      </div>
    </form>
  </div>
</div>


{% endblock content %}