{% extends "base.html" %}

{% block title %} Reset Password - DJ Auth {% endblock title %}

{% block content %}




    {% comment %} <form method='POST'>
        {% csrf_token %}
        <h3><strong>Reset Your Password</strong></h3>
        <div class="mb-3">
            <label class="form-label">New Password:</label>
            <input class="form-control" type="password" name="new_pass1" placeholder="Enter new password" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm New Password:</label>
            <input class="form-control" type="password" name="new_pass2" placeholder="Enter confirm new password" required>
          </div>

          <button class="btn btn-primary" style="width:100%">Reset Password</button>
        
    </form> {% endcomment %}

<div class="login-container">
  <div class="login-card">
    <form class="login-form" method="POST">
      {% csrf_token %}
      <h3><strong>Reset Your Password</strong></h3>
      <input class="form-control mt-3" type="password" name="new_pass1" placeholder="Enter new password" required>
      <input class="form-control mt-3" type="password" name="new_pass2" placeholder="Enter confirm new password" required>
      <div class="login-buttons">
        <button  class="single-auth-full-length-button" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}